*.hive.sql linguist-detectable=true
*.hive.sql linguist-language=hiveql
*.xml linguist-detectable=true
*.xml linguist-language=xml
*.conf linguist-detectable=true
*.conf linguist-language=ini
*.ipynb linguist-detectable=false
*.hive.sql text